
Sectr.sublime-project
Sectr.sublime-workspace

# binaries
build/**
*.exe

# folders
assets/TX-02-1WN9N6Q8
thirdparty/harfbuzz/*
!thirdparty/harfbuzz/harfbuzz.odin
thirdparty/ini/*
thirdparty/sokol/*
!thirdparty/sokol/app/
!thirdparty/sokol/gfx/
!thirdparty/sokol/gp/
thirdparty/sokol-tools/*
thirdparty/stb/*
!thirdparty/stb/truetype/stb_truetype.odin

toolchain/Odin/*
!toolchain/Odin/base
!toolchain/Odin/core
!toolchain/Odin/vendor

# logs
logs
logs*.zip

# toolchain
.ark
ols.json
.vscode/settings.json
*.spall
sectr.user
sectr.proj
