
Sectr.sublime-project
Sectr.sublime-workspace

# binaries
build/**
*.exe

# folders
assets/TX-02-1WN9N6Q8
thirdparty
thirdparty/**

# logs
logs
logs*.zip

# toolchain
.ark
ols.json
.vscode/settings.json
*.spall
